<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>

    <section id="setting-pg"
      class="min-h-[--container-h1] bg-[--setting-bg] px-10 pr-0 mx-[17rem] border border-gray-200 rounded-lg shadow light:bg-gray-800 ">

      <div id="setting-pg-in" class="w-full h-full flex ">

        <%- include('./partials/sidebar_setting') %>

          <section class="w-full h-full overflow-y-scroll pt-10 pr-8 custom-scrollbar">
            <!-- PROFILE HERO SECTION -->
            <div id="profile-hero-section" class="h-fit w-full pb-3 ">
              <!-- setting title -->
              <div id="header-setting" class="w-full h-fit  ">
                <div id="header-setting-in" class="flex justify-between items-center w-full h-fit">

                  <div class="h-fit ">
                    <h1 class="text-4xl font-bold">Profile</h1>
                    <p class="text-lg my-3">Control your profile setup</p>
                  </div>

                  <div class="flex flex-col gap-3 items-end">
                    <p class="text-gray-500 text-lg font-semibold">username: <%= user.username %>
                    </p>
                    <a href="/user/logout"
                      class="border-2 shadow border-red-500 hover:bg-red-600 text-red-500 hover:text-white w-fit h-fit font-bold rounded-full  px-6 py-1 ">Log
                      out</a>
                  </div>
                </div>
                <hr>
              </div>

              <!-- setting pg: PROFILE IMAGE -->
              <div id="setting-content" class="w-full h-fit flex items-center my-3">

                <form action="/user/avatar/<%= user._id%>" method="post" enctype="multipart/form-data" id="avatar-form"
                  class=" h-fit ">
                  <img src="<%= user.avatar.url %>" id="avatar-img" class="w-36 h-36 rounded-full object-cover"
                    alt="N/A">
                  <input type="file" name="avatar" id="avatar-input" class="hidden">
                  <span class="text-sm text-gray-500 font-semibold">Click on Image to Upload</span>
                </form>
                <div class="h-24 w-[2px] bg-gray-200 m-6"></div>

                <!-- display: EMAIL & BIO -->
                <div class="font-semibold text-lg flex flex-col gap-4 ">
                  <h1 class=" text-gray-800 cursor-default"><i class="ri-mail-line"></i><span
                      class="font-normal cursor-no-drop ">
                      <%= user.email %>
                    </span></h1>
                  <form action="/update/bio/<%= user._id%>" method="post" class="flex gap-2">
                    <p class="">Bio: </p><textarea id="bio-input" name="bio" type="text" disabled rows="" cols="28"
                      class="px-3 py-1 text-gray-800 font-normal"
                      placeholder="Enter your bio here..."><%= user.bio%></textarea>
                    <a id="edit-btn" onclick="handleBio()"
                      class="cursor-pointer px-2 h-fit border-2 border-indigo-300 text-indigo-600 hover:text-white hover:bg-indigo-600 rounded-lg"><i
                        class="ri-edit-line"></i> Edit</a>
                    <button id="save-btn" type="submit"
                      class="hidden px-2 h-fit border-2 border-green-500 text-green-500 hover:bg-green-500 hover:text-white rounded-lg"><i
                        class="ri-save-line"></i> Save</button>
                  </form>
                </div>


              </div>
            </div>

            <section class="w-full h-full p-3 bg-[--body-bg]">

              <!-- CREATE A POST with title & a image  -->
              <div class="w-full flex justify-center ">
                <form action="/post/create" method="post" enctype="multipart/form-data"
                  class=" bg-white h-full w-2/3 py-5 px-4 flex flex-col gap-10 shadow-md">
                  <div class="flex gap-3 w-full ">
                    <img class="w-12 h-12 rounded-full" src="<%= user.avatar.thumbnailUrl %>" alt="NA">
                    <input class="bg-[--setting-bg] w-full px-3 rounded-md font-semibold" type="text" name="title"
                      placeholder="What's Happening?">
                  </div>

                  <!-- 2nd row for: upload btn and post btn -->
                  <div class="flex justify-between">
                    <div>
                      <a onclick="handlePostUpload()"
                        class="font-semibold rounded-full border-2 border-gray-300 hover:border-[--primary] hover:text-purple-800 hover:shadow-lg  px-4 py-1 cursor-pointer "><i
                          class="ri-image-line mr-2"></i> Upload Image</a>
                      <p class="ml-2 mt-2" id="postUploadMsg">No File Selected</p>
                    </div>
                    <input id="upload_post_inp" type="file" name="media" class="hidden">
                    <button type="submit"
                      class="bg-[--primary] hover:bg-[--primary-h] rounded-lg font-semibold text-white px-5  h-10">Post</button>
                  </div>
                </form>
              </div>


              <!-- CREATE & SHOW ALL POST  -->
              <section class="min-h-screen">
                <div>
                  <p class="my-3 text-xl font-bold">All Posts <i class="ri-arrow-down-s-line"></i></p>
                </div>

                <!-- rendering all user's post only -->
                <div class="my-4 flex flex-col-reverse gap-4">

                  <% user.posts.forEach((item)=>{ %>

                    <div id="card-container" class="card w-2/3 mx-auto bg-white pt-5 pb-3 px-4 shadow-lg">
                      <!-- card header -->
                      <div class="card-header flex justify-between">
                        <div class="card-LHS flex gap-3 w-full ">
                          <img class="w-12 h-12 rounded-full" src="<%= user.avatar.thumbnailUrl %>" alt="NA">
                          <div>
                            <p class="text-lg font-semibold">
                              <%= user.username %>
                            </p>
                            <p class="text-sm text-gray-500">15Mins ago</p>
                          </div>
                        </div>

                        <div class="card-RHS relative">
                          <i
                            class="optionsBtn ri-more-fill text-2xl cursor-pointer p-2 rounded-full hover:bg-gray-200"></i>
                          <div
                            class="optionsMenu hidden absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-10">
                            <ul>
                              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer font-medium" onclick="editPost()">
                                Edit
                                Post</li>
                              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer font-medium text-red-500"
                                onclick="deletePost()">Delete Post</li>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <!-- card body -->
                      <div class="card-body pt-4 pb-2">
                        <div class="h-96 w-full overflow-hidden">
                          <img class="w-full h-full object-center object-cover " src="<%= item.media.url %>" alt="NA">
                        </div>
                        <p class="py-2 font-medium">
                          <%= item.title %>
                        </p>
                      </div>

                      <!-- card btns -->
                      <div class="card-btns flex gap-2 justify-between">
                        <div>
                          <div id="doLike"
                            class="flex items-start gap-1 w-28 h-fit hover:bg-gray-200 rounded-lg px-3 py-2 cursor-pointer">
                            <i class="ri-heart-line text-xl"></i>
                            <p class="text-md font-medium"> Like </p>
                          </div>
                          <div id="showLiked"
                            class="hidden flex items-start gap-1 w-28 h-fit hover:bg-gray-200 rounded-lg px-3 py-2 cursor-pointer shadow-md bg-pink-200">
                            <i class="ri-heart-fill text-xl text-pink-600 "></i>
                            <p class="text-md font-medium text-pink-600 w-full"> Like (1)</p>
                          </div>
                        </div>

                        <div
                          class="flex items-start gap-1 w-fit h-fit hover:bg-gray-200 rounded-lg px-3 py-2 cursor-pointer">
                          <i class="ri-chat-2-line text-xl"></i>
                          <p class="text-md font-medium"> Comment </p>
                        </div>
                        <div
                          class="flex items-start gap-1 w-fit h-fit hover:bg-gray-200 rounded-lg px-3 py-2 cursor-pointer">
                          <i class="ri-share-forward-line text-xl"></i>
                          <p class="text-md font-medium"> Share </p>
                        </div>
                      </div>


                    </div>

                    <% }) %>

                </div>

                <div>
                  <hr>
                  <hr>

                  <p>
                    <% user.posts.forEach( (e)=> { %>
                      <p>
                        <%= e.media.thumbnailUrl %>
                          <%= e.title %>
                      </p>
                      <% }) %>
                  </p>
                </div>

              </section>
            </section>


          </section>

      </div>
    </section>

    <%- include('./partials/footer') %>