<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>

    <section id="setting-pg"
      class="h-[--container-h1] py-10 bg-[--setting-bg] px-10 mx-[17rem] border border-gray-200 rounded-lg shadow light:bg-gray-800">

      <div id="setting-pg-in" class="w-full h-full flex">

        <%- include('./partials/sidebar_setting') %>

        <div id="rhs-setting" class="h-full w-full">
          <!-- setting title -->
          <div id="header-setting" class="w-full h-fit  ">
            <div id="header-setting-in" class="flex justify-between items-center w-full h-fit">

              <div class="h-fit ">
                <h1 class="text-4xl font-bold">Settings</h1>
                <p class="text-lg my-3">Control your profile setup</p>
              </div>
              <a href="/user/logout"
                class="border-2 shadow border-red-500 hover:bg-red-600 text-red-500 hover:text-white w-fit h-fit font-bold rounded-full  px-6 py-1 ">Log
                out</a>
            </div>
            <hr>
          </div>

          <div class="w-full h-[26rem] flex gap-4">

            <!-- LHS BOX - RIGHT LOWER -->
            <form action="/update/username/<%= user._id %>" method="post" class="w-1/2 h-full bg-white border border-gray-200 rounded-lg shadow px-6 py-4 flex flex-col gap-4">

              <div>
                <h1 class="text-xl font-semibold">Username</h1>
                <p class="text-md text-gray-600">Enter new username to make update</p>
              </div>


              <div>
                <div class="inp-container ">
                  <p class="font-semibold">Current username</p>
                  <div class="relative">
                    <input type="text" name=""
                      class="inp px-2 pl-14 py-2 my-2 w-full rounded-lg border-2 border-gray-300 focus:border-purple-500 text-gray-500 font-semibold cursor-no-drop "
                      placeholder="Current Username" value="<%= user.username %>" disabled>
                    <i
                      class="ri-user-follow-line absolute top-1/2 left-2 -translate-y-1/2 text-gray-400 text-2xl pr-2 border-2 border-r-gray-200 border-white"></i>
                  </div>
                </div>

                <div class="inp-container ">
                  <p class="font-semibold">New username</p>
                  <div class="relative">
                    <input required type="text" name="newUsername"
                      class="inp px-2 pl-14 py-2 my-2 w-full rounded-lg border-2 border-gray-300 focus:border-purple-500 text-black font-semibold "
                      placeholder="Enter Username">
                    <i
                      class="ri-edit-line absolute top-1/2 left-2 -translate-y-1/2 text-gray-400 text-2xl pr-2 border-2 border-r-gray-200 border-white"></i>
                  </div>
                </div>
              </div>

              <button type="submit"
                class="w-full border-[--primary-h] hover:bg-[--primary] border-2 rounded-full px-4 py-2 text-[--primary] hover:text-white text-xl font-bold ">Update</button>



            </form>


            <!-- RHS BOX - RIGHT LOWER : PASSWORD CONTAINER -->
            <form action="/update/updatePassword/<%= user._id %>" method="post"
              class="w-1/2 h-full bg-white border border-gray-200 rounded-lg shadow px-6 py-4 flex flex-col justify-between ">
              <div>
                <h1 class="text-xl font-semibold">Update Password</h1>
                <p class="text-md text-gray-600">Enter your current password to make update</p>
              </div>


              <div class="inp-container-main">
                <!-- current password container -->
                <div class="inp-container ">
                  <p class="font-semibold">Current Password</p>
                  <div class="relative">
                    <input required type="password" name="currentPassword"
                      class="inp px-2 pl-14 py-2 my-2 w-full rounded-lg border-2 border-gray-300 focus:border-purple-500 "
                      placeholder="Enter Password">
                    <i
                      class="ri-lock-line absolute top-1/2 left-2 -translate-y-1/2 text-gray-400 text-2xl pr-2 border-2 border-r-gray-200 border-white"></i>
                  </div>
                </div>

                <!-- New password container -->
                <div id="all-input-main-container">
                  <div class="inp-container ">
                    <p class="font-semibold">New Password</p>
                    <div class="relative">
                      <input required type="password" name="newPassword"
                        class="inp px-2 pl-14 py-2 my-2 w-full rounded-lg border-2 border-gray-300 focus:border-purple-500 "
                        placeholder="Enter New Password">
                      <i
                        class="ri-lock-line absolute top-1/2 left-2 -translate-y-1/2 text-gray-400 text-2xl pr-2 border-2 border-r-gray-200 border-white"></i>
                    </div>
                  </div>

                  <!-- New password container -->
                  <div class="inp-container ">
                    <p class="font-semibold">Confirm - New Password</p>
                    <div class="relative">
                      <input required type="password" name="confirmPassword"
                        class="inp px-2 pl-14 py-2 my-2 w-full rounded-lg border-2 border-gray-300 focus:border-purple-500 "
                        placeholder="Enter Confirm Password">
                      <i
                        class="ri-lock-line absolute top-1/2 left-2 -translate-y-1/2 text-gray-400 text-2xl pr-2 border-2 border-r-gray-200 border-white"></i>
                    </div>
                  </div>
                </div>
              </div>

              <button type="submit"
                class="w-full bg-[--primary] hover:bg-[--primary-h] rounded-full px-4 py-2 text-white text-xl font-bold ">Update</button>

            </form>
          </div>

        </div>

      </div>
    </section>


    <%- include('./partials/footer') %>